{% assign cur = -1 %}
{% assign idx = '' %}
{% assign start = -1 %}
{% assign end = -1 %}
{% assign post_min = 1 %}
{% assign post_max = site.posts.size %}
{% assign related_half_size = 5 %}

{% for post in site.posts %}
  {% if post.url == page.url %}
    {% assign cur = forloop.index %}
  {% endif %}
{% endfor %}

{% if cur > 5 %}
  {% assign start = cur | minus: related_half_size %}
  {% assign end = cur | plus: related_half_size %}
  
  {% if end > post_max %}
    {% assign diff = end | minus: post_max %}
    {% assign start = start | minus: diff %}
    {% if start < post_min %}
      {% assign start = post_min %}
    {% endif %}
    {% assign end = post_max %}
  {% endif %}

{% else %}

  {% assign start = post_min %}
  {% assign diff = 5 | minus: cur %}
  {% assign end = related_half_size | plus: cur | plus: diff %}

  {% if end > post_max %}
    {% assign end = post_max %}
  {% endif %}

{% endif %}

<div class="related-posts">
  <h3>인기 글</h3>
  <ul class="related-list">
  {% for related in site.posts limit:10 %}
    <li class="related-list-item">
    {% if related.url == page.url %}
      <span>[{{ related.categories[0] }}] {{ related.title }}</span>    
    {% else %}
      <span>[{{ related.categories[0] }}]</span>
      <a href="{{ related.url }}" style="text-decoration:none;color:black;border-bottom:1px solid;">{{ related.title }}</a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
</div>
