{% strip %}<!DOCTYPE html>
<html lang="ko">
  {% include head.html %}
  <body class="{% if page.bodyclass %}{{ page.bodyclass }}{% endif %}">

    <main class="main-container">

        {% include header.html %}

        <section class="main-content">
          {{ content }}
        </section>

        {% include footer.html %}

    </main>

    {% include github-corner.html %}

    <script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/jekyll-search.min.js' | prepend: site.baseurl }}"></script>
    <script src="{{ '/js/main.js' | prepend: site.baseurl }}"></script>
  </body>
</html>{% endstrip %}
