---
layout: default
bodyclass: single
---

<article class="post">

  <div class="post-content container">
    {% if page.toc %}
    <div class="toc-container container">
      <h2 id="toc-title" class="toc-title">목차</h2>
      {{ content | toc_only }}
    </div>
    {% endif %}

    {{ content }}

    <aside class="share">

      <span>Share this: </span>

      <a href="http://twitter.com/share?text={{page.title}}&amp;url={{site.url}}{{ page.url }}&amp;hashtags=web,dev,blog,soudev&amp;via=nandomoreirame"
      onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
        <i class="icon icon-twitter-rounded"></i>
      </a>

      <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}"
      onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
        <i class="icon icon-facebook-rounded"></i>
      </a>

    </aside>
  </div>

  <aside id="related-posts" class="related container">
    {% include related-posts.html %}
  </aside>
  

</article>
